body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .todo {
    cursor: pointer;
  }
  .strike {
    text-decoration: line-through;
  }
  .header1{
      margin: auto;
      text-align: center;
  }
  .listorder{
      margin: auto;
      border: 3px solid green;
      text-align: center;
      width: 50%;
      margin-bottom: 30px;
  }
  .listform{
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 20%;
    text-align: center;
  }